body {
    background-color: white;
    width: 1200px;
    margin: auto;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Source Code Pro', monospace;
}

/*
 * header
 */

#header {
    background-color: rgba(255, 255, 255, 0.5);
    width: 1200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
}

#header a {
    text-decoration: none;
    margin-top: auto;
    margin-bottom: auto;
}

#header h1 {
    color: black;
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    font-style: italic;
    font-size: 2rem;
}

/*
 * footer
 */

#footer {
    background-color: rgba(255, 255, 255, 0.5);
    width: 1200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer-left {
    background-color: transparent;
    width: 600px;
    height: 100px;
    display: flex;
    justify-content: flex-start;
}

#footer-left ul {
    list-style-type: none;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0;
}

#footer-left ul li:first-child a {
    padding-right: 30px;
}

#footer-left li {
    float: left;
}

#footer-left li a {
    color: black;
    font-weight: 400;
    text-decoration: none;
}

#footer-right {
    background-color: transparent;
    width: 600px;
    height: 100px;
    display: flex;
    justify-content: flex-end;
}

#footer-right h4 {
    margin-top: auto;
    margin-bottom: auto;
    padding: 0;
}

/*
 * items
 */

#items {
    margin-top: 100px;
}

/*
 * item-small
 */

.item-small {
    background-color: transparent;
    color: white;
    width: 400px;
    height: 578px;
    float: left;
    display: flex;
    justify-content: center;
}

.item-small img {
    object-fit: fill;
    border: 0px solid rgba(255, 255, 255, 0.5);
    transition-duration: 0.5s;
}

.item-small img:hover {
    border: 20px solid rgba(255, 255, 255, 0.5);
    transition-duration: 0.5s;
}

/*
 * content
 */

#content {
    margin-top: 100px;
}

/*
 * item-big
 */

#item-big {
    display: flex;
}

#item-big-left {
    width: 600px;
    height: 868px;
    float: left;
    display: flex;
    justify-content: center;
}

#item-big-left img {
    object-fit: fill;
}

#item-big-right {
    width: 600px;
    margin-left: 30px;
}

#item-big-right h1 {
    font-family: 'Rubik', sans-serif;
}

#item-big-right a {
    margin-top: auto;
    margin-bottom: auto;
}

/*
 * button
 */

#button-container {
    background-color: transparent;
    border: 2px solid black;
    width: calc(600px - (30px * 2));
    height: 50px;
    display: flex;
    justify-content: center;
}

#button-container a {
    text-decoration: none;
}

#button {
    display: flex;
    width: calc(600px - (30px * 2));
    height: 50px;
    justify-content: center;
}

#button h4 {
    color: black;
    margin-top: auto;
    margin-bottom: auto;
}

/*
 * contact
 */

#contact {
    width: 1200px;
    height: 100vw;
    display: flex;
    justify-content: center;
}

#contact #button-container {
    margin: auto;
}

/*
 * about
 */

#about {
    width: 1200px;
    height: 100vw;
    display: flex;
    justify-content: center;
}

.mapouter {
    margin: auto;
    border: 20px solid rgba(230, 230, 230, 0.5);
}

/*
 * media queries
 */ 

/*
 * läsplatta
 * tar bort animationerna
 */
@media all and (max-width: 1200px) {
    body {
        width: 100vw;
    }

    #header {
        width: 100vw;
    }

    #footer {
        width: 100vw;
    }

    #items {
        width: 100vw;
    }

    #content {
        width: 100vw;
    }

    #about {
        width: 100vw;
    }

    #footer-left {
        width: 50vw;
    }
    #footer-right {
        width: 50vw;
    }

    .item-small {
        width: 50vw;
        height: calc(50vw * 1.445);
    }

    .item-small img {
        width: 50vw;
        height: calc(50vw * 1.445);
    }

    .item-small img {
        border: none;
    }
    
    .item-small img:hover {
        border: none;
    }

    #item-big {
        width: 100vw;
    }

    #item-big-left {
        width: 50vw;
        height: calc(50vw * 1.445);
    }

    #item-big-left img {
        width: 50vw;
        height: calc(50vw * 1.445);
    }

    #item-big-right {
        width: 50vw;
        height: calc(50vw * 1.445);
    }

    #button-container {
        width: calc(50vw - (30px * 2));
    }
    
    #button {
        width: calc(50vw - (30px * 2));
    }

    #item-big-right h2:first-of-type {
        padding-right: 30px;
    }

    #footer-left ul {
        margin-left: 15px;
    }

    #footer-right h4 {
        margin-right: 15px;
    }
}

/*
 * mobil
 */
@media all and (max-width: 600px) {
    #header {
        height: 60px;
    }

    #footer {
        height: 60px;
    }
    #footer-left {
        height: 60px;
    }
    #footer-right {
        height: 60px;
    }

    #items {
        margin-top: 60px;
    }

    #content {
        margin-top: 60px;
    }

    #about {
        margin-top: 60px;
    }

    .item-small {
        width: 100vw;
        height: calc(100vw * 1.445);
        float: left;
        display: flex;
    }

    .item-small img {
        width: 100vw;
        height: calc(100vw * 1.445);
    }

    #item-big {
        width: 100vw;
        display: inline-block;
    }

    #item-big-left {
        width: 100vw;
        height: calc(100vw * 1.445);
        float: none;
    }

    #item-big-left img {
        width: 100vw;
        height: calc(100vw * 1.445);
    }

    #item-big-right {
        width: 100vw;
        height: auto;
    }

    #item-big-right h1 {
        margin-top: 15px;
    }

    #item-big-right h2:first-of-type {
        padding-right: 30px;
    }

    #button-container {
        width: calc(100vw - (30px * 2));
        margin-bottom: 30px;
    }
    
    #button {
        width: calc(100vw - (30px * 2));
    }

    #footer-left ul li:first-child a {
        padding-right: 15px;
    }

    #footer-left ul {
        margin-left: 15px;
    }
}