body {
    background-color: white;
    width: 1200px;
    margin: auto;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Source Code Pro', monospace;
}

/*
 * header
 */

#header {
    background-color: rgba(255, 255, 255, 0.5);
    width: 1200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
}

#header a {
    text-decoration: none;
    margin-top: auto;
    margin-bottom: auto;
}

#header h1 {
    color: black;
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    font-style: italic;
}

/*
 * footer
 */

#footer {
    background-color: rgba(255, 255, 255, 0.5);
    width: 1200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
}

#footer-left {
    background-color: transparent;
    width: 600px;
    height: 100px;
    display: flex;
    justify-content: flex-start;
}

#footer-left ul {
    list-style-type: none;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0;
}

#footer-left ul li:first-child a {
    padding-right: 30px;
}

#footer-left li {
    float: left;
}

#footer-left li a {
    color: black;
    font-weight: 400;
    text-decoration: none;
}

#footer-right {
    background-color: transparent;
    width: 600px;
    height: 100px;
    display: flex;
    justify-content: flex-end;
}

#footer-right h4 {
    margin-top: auto;
    margin-bottom: auto;
    padding: 0;
}

/*
 * items
 */

#items {
    margin-top: 100px;
}

/*
 * item-small
 */

.item-small {
    background-color: transparent;
    color: white;
    width: 400px;
    height: 578px;
    float: left;
    display: flex;
    justify-content: center;
}

.item-small img {
    object-fit: fill;
    border: 0px solid rgba(255, 255, 255, 0.5);
    transition-duration: 0.5s;
}

.item-small img:hover {
    border: 20px solid rgba(255, 255, 255, 0.5);
    transition-duration: 0.5s;
}

/*
 * content
 */

#content {
    margin-top: 100px;
}

/*
 * item-big
 */

#item-big {
    display: flex;
}

#item-big-left {
    width: 600px;
    height: 868px;
    float: left;
    display: flex;
    justify-content: center;
}

#item-big-left img {
    object-fit: fill;
}

#item-big-right {
    width: 600px;
}

#item-big-right h1 {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    margin-top: 50px;
    margin-left: 75px;
}

#item-big-right h2 {
    margin: 0;
    margin-top: -4px;
    margin-left: 75px;
    font-weight: 400;
}

#item-big-right h2:last-of-type {
    margin-top: 0px;
    font-weight: 800;
    font-size: 20px;
}

#item-big-right h3 {
    margin: 0;
    margin-top: 40px;
    margin-left: 75px;
    font-weight: 400;
    font-size: 24px;
}

#item-big-right a {
    text-decoration: none;
    margin-top: auto;
    margin-bottom: auto;
}

/*
 * button
 */

#button {
    display: flex;
    width: 446px;
    height: 46px;
    justify-content: center;
}

#button-container {
    background-color: transparent;
    border: 2px solid black;
    width: 446px;
    height: 46px;
    margin: 0;
    margin-top: 10px;
    margin-left: 75px;
    display: flex;
    justify-content: center;
}

#button h4 {
    color: black;
    margin-top: auto;
    margin-bottom: auto;
}